streamlit
transformers
accelerate
scipy
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
bitsandbytes==0.41.1  # Using a stable version known to work with Python 3.10
peft
